sudo: required

language: php

services:
  - docker

language: php

php:
    - 5.6

before_script:
  - 'npm install'
  - 'composer install'
  - 'chmod 777 vendor/composer/installed.json'
script:
  - 'grunt'
