<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagantis</name>
	<displayName><![CDATA[Pagantis]]></displayName>
	<version><![CDATA[8.4.1]]></version>
	<description><![CDATA[Instant, easy and effective financial tool for your customers]]></description>
	<author><![CDATA[Pagantis]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>