version: "3.5"

services:
  prestashop15-test:
    container_name: prestashop15-test
    image: prestashop/prestashop:1.5-5.5-apache
    depends_on:
      - db15-test
    environment:
      - PS_DEV_MODE=0
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop15-test.docker:8015
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db15-test
      - DB_NAME=db15-test
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    ports:
      - "8015:80"
    extra_hosts:
      - "prestashop15-test.docker:127.0.0.1"
  prestashop16-test:
    container_name: prestashop16-test
    image: prestashop/prestashop:1.6.1.20
    depends_on:
      - db16-test
    environment:
      - PS_DEV_MODE=0
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop16-test.docker:8016
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db16-test
      - DB_NAME=db16-test
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    ports:
      - "8016:80"
    extra_hosts:
      - "prestashop16-test.docker:127.0.0.1"
  prestashop17-test:
    container_name: prestashop17-test
    image: prestashop/prestashop:1.7.3
    depends_on:
      - db17-test
    environment:
      - PS_DEV_MODE=0
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop17-test.docker:8017
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db17-test
      - DB_NAME=db17-test
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    ports:
      - "8017:80"
    extra_hosts:
      - "prestashop17-test.docker:127.0.0.1"
  prestashop17-dev:
    container_name: prestashop17-dev
    image: prestashop/prestashop:1.7.3
    depends_on:
      - db17-dev
    environment:
      - PS_DEV_MODE=1
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop17-dev.docker:8018
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db17-dev
      - DB_NAME=db17-dev
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    volumes:
      - ./:/var/www/html/modules/paylater
    ports:
      - "8018:80"
    extra_hosts:
      - "prestashop17-dev.docker:127.0.0.1"
  prestashop16-dev:
    container_name: prestashop16-dev
    image: prestashop/prestashop:1.6.1.20
    depends_on:
      - db16-dev
    environment:
      - PS_DEV_MODE=1
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop16-dev.docker:8019
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db16-dev
      - DB_NAME=db16-dev
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    volumes:
      - ./:/var/www/html/modules/paylater
    ports:
      - "8019:80"
    extra_hosts:
      - "prestashop16-dev.docker:127.0.0.1"
  prestashop15-dev:
    container_name: prestashop15-dev
    image: prestashop/prestashop:1.5-5.5-apache
    depends_on:
      - db15-dev
    environment:
      - PS_DEV_MODE=1
      - PS_COUNTRY=ES
      - PS_DOMAIN=prestashop15-dev.docker:8020
      - PS_FOLDER_ADMIN=adminTest
      - PS_FOLDER_INSTALL=installTest
      - PS_HANDLE_DYNAMIC_DOMAIN=1
      - PS_INSTALL_AUTO=1
      - DB_SERVER=db15-dev
      - DB_NAME=db15-dev
      - DB_PREFIX=ps_
      - DB_PASSWD=password
    networks:
      - internal
      - public
    volumes:
      - ./:/var/www/html/modules/paylater
    ports:
      - "8020:80"
    extra_hosts:
      - "prestashop15-dev.docker:127.0.0.1"
  db17-dev:
    container_name: db17-dev
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db17-dev
    networks:
      - internal
  db16-dev:
    container_name:  db16-dev
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db16-dev
    networks:
      - internal
  db15-dev:
    container_name: db15-dev
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db15-dev
    networks:
      - internal
  db17-test:
    container_name:  db17-test
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db17-test
    networks:
      - internal
  db16-test:
    container_name: db16-test
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db16-test
    networks:
      - internal
  db15-test:
    container_name: db16-test
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db16-test
    networks:
      - internal
  selenium:
    container_name: prestashopSelenium
    image: selenium/standalone-chrome:3.7.1
    networks:
      - public
    ports:
      - 4444:4444
    extra_hosts:
      - "prestashop15-test.docker:${DOCKERHOST}"
      - "prestashop16-test.docker:${DOCKERHOST}"
      - "prestashop17-test.docker:${DOCKERHOST}"
      - "prestashop-dev.docker:${DOCKERHOST}"
networks:
  internal:
  public:
