
.paylater-content {
    text-align: center;
    padding-top: 50px;
}

.paylater-content iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.paylater_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
}

.paylater_modal-content {
    /* merchant styles required */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

@media (min-width: 480px) {
    .paylater_modal-content {
        margin: auto;

        /* merchant styles required */
        width: 90% !important;
        height: 75% !important;

        /* custom styles */
        background-color: #fefefe;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
}

@media (min-width: 768px) {
    .paylater_modal-content {
        /* merchant styles required */
        width: 600px !important;
        height: 95% !important;
    }
}

.paylater_modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 20px;
}

@media (min-width: 480px) {
    .paylater_modal-content iframe {
        padding: 20px;
    }
}

.paylater_modal-close {
    background: none;
    border: 0;
    line-height: normal;
    overflow: visible;
    padding: 0;
    user-select: none;
    position: relative;
    display: block;
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    top: 10px;
    right: 10px;
}

.paylater_modal-close:hover,
.paylater_modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.paylater_payment_link {
    color: #00C1D5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    text-decoration: underline;
}

.paylater_payment_link:visited,
.paylater_payment_link:hover,
.paylater_payment_link:focus {
    color: #008eaa;
}

.paylater_payment_link span {
    font-weight: normal;
}

.paylater-content-form {
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    width: 97%;
}

.paylater-content-form input{
    margin-left: 15px;
    margin-right: 5px;
}

.paylater-content-form label{
    margin-left: 15px;
}

.paylater-content-form img{
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 100px;
}

.nobootstrap {
    min-width: 0px !important;
}

.paylater-content-form section{
    min-height: 100px;
    padding: 5px;
    margin-top: 5px;
    border: solid;
    border-color: #00c1d5;
    border-width: 15px;
    border-bottom: none;
}

.panel {
    background-color: #e3f2f5 !important;
    border: solid !important;
    border-color: #00c1d5 !important;
    border-width: 15px !important;
}

.margin-form {
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
}

.paylater-content-form a{
    line-height: 2;
}

p.payment_module a.bankwire.paylater-checkout {
    background: url('/modules/paylater/views/img/logo-64x64.png') 15px 12px no-repeat #fbfbfb !important;
    background-size: 64px !important;
}

.paylater-checkout {
    background-size: 64px !important;
}

#module_form_submit_btn {
    float: right;
    margin-right: 60px;
}

.panel-heading {
    text-align: left;
}

.form-wrapper {
    margin-top: 10px;
}

.column-left {
    text-align: left;
    float: left;
    width: 33%;
}

.column-right {
    text-align: right;
    float: right;
    width: 33%;
}

.column-center {
    text-align: center;
    display: inline-block;
    width: 33%;
}

.clear {
    clear: both;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}